<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description' content='')
        meta(name='author' content='Chau Nguyen')

        title UCI
        link(rel='stylesheet' type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet' type='text/css', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet' type='text/css', href='css/main.css')
    body
        header
            nav(id='header-nav')
                a(id='header-nav-heading' href='https://uci.edu', target='_blank') UCI
                ul(id='header-navbar')
                    li(class='nav-item')
                        a(href='#' class='header-nav-permalink') About
                        button(class='dropdown-container')
                            span(class='dropdown-arrow')
                    li(class='nav-item')
                        a(href='#' class='header-nav-permalink') Admissions
                        button(class='dropdown-container')
                            span(class='dropdown-arrow')
                    li(class='nav-item')
                        a(href='#' class='header-nav-permalink') Academics
                        button(class='dropdown-container')
                            span(class='dropdown-arrow')
                    li(class='nav-item')
                        a(href='#' class='header-nav-permalink') Research
                        button(class='dropdown-container')
                            span(class='dropdown-arrow')
                    li(class='nav-item')
                        a(href='#' class='header-nav-permalink') Community
                        button(class='dropdown-container')
                            span(class='dropdown-arrow')
        main
            section(id='landing')
                .container
                    #landing-overlay
                        h1(id='landing-overlay-heading') Experience the Power of I
                        h2(id='landing-overlay-subheading') UCI is a place where, together, we make a world of difference
                    #scroll-overlay
                        button(id='scroll-arrow')
            nav(id='main-nav')
                ul(id='main-nav-navbar')
                    li(class='nav-item')
                        a(href='#' class='main-nav-permalink top') Top
                    li(class='nav-item')
                        a(href='#current-heading' class='main-nav-permalink') The Buzz
                    li(class='nav-item')
                        a(href='#news' class='main-nav-permalink') News
                    li(class='nav-item')
                        a(href='#about' class='main-nav-permalink') Who We Are
                    li(class='nav-item')
                        a(href='#campus-info' class='main-nav-permalink') Visit
                    li(class='nav-item')
                        a(href='#resources' class='main-nav-permalink') Resources
            section(id='current-heading')
                .container
                    .current-heading-bg-img-container
                    #current-content
                        h2(class='current-content-heading') The Buzz
                        h1(class='current-content-subheading') UCI opens doctoral programs to hundreds more students
                        a(href='#' class='current-content-permalink') Campus aims to boost Ph.D. candidates by 35 percent over next five years
                    .overlay-row
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') Launching tomorrow's wizards
                                    p UCI's undergraduate research program boosts student success
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') Meet super dada
                                    p Anteater alum teaches joys offatherhood through his company, fodada
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') First-generation flag bearer
                                    p UCI alum Eloy Oakley is first Latinoto lead state's community colleges
            section(id='news')
                .container
                    #news-content
                        h1(id='news-heading') News
                        .news-row
                            .news-section
                                h3
                                    a(href='#' class='news-section-permalink') Concrete jungle functions as carbon sink, UCI and other researchers find
                                p Cement-based materials eventually reabsorb much of the CO2 released during creation
                            .news-section
                                h3
                                    a(href='#' class='news-section-permalink') 9 UCI researchers named AAAS fellows
                                p Honor is conferred for distinguished contributions to their fields
                            .news-section
                                h3
                                    a(href='#' class='news-section-permalink') UCI professor awarded 2016 John Maddox Prize for Standing up for Science
                                p Elizabeth Loftus is recognized for pioneering work on malleability of human memory
                        .news-links
                            a(href='#' class='news-links-permalink') Visit UCI News
                            a(href='#' class='news-links-permalink') Media Inquiries
                            a(href='#' class='news-links-permalink') Find an Expert
            section(id='about')
                .container
                    #about-content
                        h1(class='about-header') Who We Are
                        p Founded in 1965, UCI is the youngest member of the prestigious Association of American Universities. The campus has produced three Nobel laureates and is known for its academic achievement, premier research, innovation and anteater mascot. Led by Chancellor Howard Gillman, UCI has more than 30,000 students and offers 192 degree programs. It’s located in one of the world’s safest and most economically vibrant communities and is Orange County’s second-largest employer, contributing $5 billion annually to the local economy.
                    .overlay-row
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') Academics
                                    p UCI is a center for quality education that fosters passionate, enthusiastic and ongoing expansion of knowledge and approaches to scholarship.
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') Research Programs
                                    p UCI is improving lives through the investigation, discovery and dissemination of knowledge in numerous forms to all levels of society.
                        .overlay-col
                            .overlay
                                .overlay-contents
                                    h3(class='overlay-heading')
                                        a(href='#' class='overlay-permalink') Our Community
                                    p UCI students, faculty and staff reach beyond the classrooms and laboratories to address social issues and improve the human condition.
            section(id='campus-info')
                .container
                    #campus-info-content
                        h1(class='campus-info-heading') Visit
                        p UCI combines the strengths of a major research university with the bounty of an incomparable Southern California location.
                        button(class='btn btn-blue') Learn
                    .right-col
                        .overlay-col-right
                            .overlay
                                h3(class='overlay-heading')
                                    a(href='#' class='overlay-permalink') Campus Maps
                                p Visit the Campus Maps page for the best way to reach UCI and locate intended campus destinations, as well as nearby parking options.
                            .overlay
                                h3(class='overlay-heading')
                                    a(href='#' class='overlay-permalink') Visitor Center
                                p The Visitor Center welcomes prospective students and their parents, alumni and all visitors who want to know more about the university.
                            .overlay
                                h3(class='overlay-heading')
                                    a(href='#' class='overlay-permalink') Parking & Transportation
                                p Transportation & Distribution Services offers information on parking rates and timely updates on sustainable commuting options.
            section(id='resources')
                .container
                    .resource-row
                        .resource-row-contents(id='first-resource')
                            h3
                                a(href='#' class='resource-permalink') Work at UCI
                            p UCI is a great place to work. Start your job search here.
                    .resource-row
                        .resource-row-contents(id='second-resource')
                            h3
                                a(href='#' class='resource-permalink') Emergency Preparedness
                            p Learn simple steps to be better prepared for an emergency - at work and at home.
                    .resource-row
                        .resource-row-contents(id='third-resource')
                            h3
                                a(href='#' class='resource-permalink') Disability Services Center
                            p Resources for students, parents and faculty members.
            footer
                .container
                    #social-media
                        ul(id='social-media-list')
                            li
                                a(href='#' class='footer-permalink') Facebook
                            li
                                a(href='#' class='footer-permalink') Twitter
                            li
                                a(href='#' class='footer-permalink') Youtube
                            li
                                a(href='#' class='footer-permalink') Instagram
                            li
                                a(href='#' class='footer-permalink') Flickr
                        
                        ul
                            li
                                a(href='#' class='footer-permalink') Social Media Directory
                    #contact
                        ul(id='contact-list')
                            li
                                a(href='#' class='footer-permalink') UCI Gmail
                            li
                                a(href='#' class='footer-permalink') Webmail
                            li
                                a(href='#' class='footer-permalink') EEE
                            li
                                a(href='#' class='footer-permalink') Work at UCI
                            li
                                a(href='#' class='footer-permalink') Emergency Preparedness
                            li
                                a(href='#' class='footer-permalink') Disability Services
                            li
                                a(href='#' class='footer-permalink') Office of the Chancellor
                        ul
                            li
                                a(href='#' class='footer-permalink') University of California
                    ul(id='misc-list')
                        li
                            a(href='#' class='footer-permalink') Feedback
                        li
                            a(href='#' class='footer-permalink') Privacy Policy
                        li
                            a(href='#' class='footer-permalink') Media Inquiries
                        li
                            a(href='#' class='footer-permalink') Accreditation Information
                        li
                            a(href='#' class='footer-permalink') Clery act

                    #address
                        p University of California, Irvine #[br] Irvine, CA 92697 #[br] 949-24-5011

                    #copyright
                        a(href='#' class='footer-permalink') &copy 2016 UC Regents
    script(src='js/index.js')