body {
    padding-top: 56px;
}

.carousel-img {
    width: 100%;
}

#site-alert {
    margin-bottom: 0;
}

#donate-button {
    vertical-align: top;
}

#sign-up-modal-content {
    padding: 1em;
    background-color: white;
}

.footer {
    margin-top: 1em;
    background-color: #212121;
    color: white;
    padding: 1em 0;
}