// Base
@import "variables";
// Components
@import "scaffolding";
// Button
@import "button";
#header-navbar {
    display: inline;
}

.header-nav-permalink {
    padding: 1em;
    color: $header-nav-permalink;
    &:visited {
        color: $header-nav-permalink;
    }
}

.header-nav-permalink:hover {
    color: white;
}

#header-nav-heading {
    padding: 1em;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    letter-spacing: 2px;
}

.dropdown {
    color: #757575;
    background-color: transparent;
    border: none;
    outline: none;
}

#landing-overlay {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
}

#landing-overlay-heading {
    color: white;
}

#landing-overlay-subheading {
    color: $cl-accent;
}

#main-nav {
    background-color: $cl-dark-primary;
    margin-bottom: 2em;
}

.nav-item {
    display: inline-block;
    padding: 1em;
}

.main-nav-permalink {
    padding: 1em;
    color: white;
    &:visited {
        color: white;
    }
}

.main-nav-permalink:hover {
    background-color: $cl-primary;
}

.current-content-permalink {
    color: $font-color;
    &:visited {
        color: $font-color;
    }
}

.overlay {
    padding: 1em;
    display: block;
    background-color: $cl-light-primary;
    color: white;
    margin: 2em 1em;
}

.overlay-permalink {
    color: white;
    &:visited {
        color: white;
    }
}

.overlay-permalink:hover {
    text-decoration: none;
}

.overlay-heading {
    margin: 0;
}

#news-heading,
#current-content-subheading,
#current-content-heading,
#campus-info-heading {
    color: $cl-dark-primary;
}

#news-heading,
#current-content-subheading,
#current-content-heading,
#campus-info-heading {
    margin: 0;
}

.news-section-permalink,
.news-links-permalink {
    color: $cl-dark-primary;
    &:visited {
        color: $cl-dark-primary;
    }
}

#about {
    .container {
        background-color: black;
    }
}

#about-content {
    color: white;
}

#campus-info {
    .container {
        background-color: rgba(2, 136, 209, 0.5);
    }
}

#current-content,
#news-content,
#about-content,
#campus-info-content {
    padding: 2em;
}

.resource-row-contents {
    padding: 1em;
    color: white;
    text-align: center;
}

.resource-permalink {
    color: white;
    &:visited {
        color: white;
    }
}

.resource-permalink:hover {
    text-decoration: none;
}

#first-resource {
    background-color: $cl-dark-primary;
}

#second-resource {
    background-color: $cl-primary;
}

#third-resource {
    background-color: $cl-light-primary;
}

footer {
    background-color: #d3d3d3;
}

.footer-permalink {
    color: $font-color;
    &:visited {
        color: $font-color;
    }
}

.footer-permalink:hover {
    text-decoration: none;
}

#social-media,
#social-media-list,
#contact-list {
    padding-bottom: 10px;
}

#social-media-list {
    li {
        padding-bottom: 15px;
    }
}

#contact-list {
    padding-top: 20px;
}

#uc {
    padding-bottom: 20px;
}

#misc-list {
    padding-top: 40px;
}

#address {
    padding-top: 20px;
}

#copyright {
    text-align: right;
}

@media only screen and (min-width: 768px) {
    #social-media,
    #social-media-list,
    #contact,
    #uc,
    #address,
    #misc-list {
        display: inline-block;
        vertical-align: top;
    }
    #social-media {
        width: 50%;
    }
    #misc-list {
        width: 50%;
        ul {
            li {
                margin-right: -4px;
            }
        }
    }
    #contact-list {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .overlay-row {
        padding-top: 250px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        margin: 0 -10px;
    }
    .overlay-col {
        padding-left: 15px;
        margin: 0 10px;
        flex: 1 1;
        .overlay {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            .overlay-contents {
                padding: 1em;
            }
        }
    }
    #campus-info .container {
        overflow: hidden;
    }
    #campus-info-content {
        display: inline-block;
        width: 40%;
    }
    .right-col {
        float: right;
        width: 50%;
        vertical-align: top;
        margin-top: 50px;
    }
    .overlay-col-right {
        float: right;
        .overlay {
            display: block;
            max-width: 284px;
        }
    }
    footer {
        .container {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
    }
    #social-media,
    #contact,
    #misc-list,
    #address {
        flex: 1 1;
        padding-top: 0;
        margin-top: 0;
    }
    #copyright {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #resources {
        .container {
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            min-height: 225px;
        }
    }
    .resource-row {
        flex: 1 1;
    }
    .resource-row-contents {
        height: 100%;
    }
}