html {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: $font-color;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none !important;
}

.navbar {
    // to allow myself to use 100vh on #landing
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

#landing {
    height: 100vh;
    background-image: url('images/landing.jpg');
    background-position: 50% 0;
}

#landing-overlay {
    background-color: $cl-primary;
}

#current-heading {
    display: block;
    position: relative;
    overflow: hidden;
}

#current-heading .container {
    padding-bottom: 1em;
    position: relative;
}

.current-heading-bg-img-container:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
    background-image: url('images/current-heading.jpg');
    background-position: 50% 0;
    background-size: cover;
}

#about .container {
    background-image: url('images/about.jpg');
}

#current-heading,
#news,
#about,
#campus-info {
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 1em;
}

#news .container,
#about .container,
#campus-info .container {
    padding-bottom: 50px;
}

#resources {
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    padding: 1em;
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .current-heading-bg-img-container:before {
        opacity: 1;
    }
    #campus-info .container {
        background-image: url('images/visit.jpg');
    }
}