h1,
h2 {
    margin-top: 0;
}

html {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    color: $font-color;
}

body {
    margin: 0;
}

.container {
    text-align: center;
}

#landing-content {
    background-color: $dark-primary;
    color: white;
}

#transfer-stats {
    background-color: $light-primary;
    padding-bottom: 20px;
    .container {
        margin: 0 auto;
    }
}

#links {
    background-color: $links-cl;
    padding: .5em .75em;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

footer {
    background-color: $dark-primary;
    text-align: center;
    color: white;
    padding: .5em .75em;
    font-size: 1em;
}

#footer-content p {
    margin-top: 0;
}