// Colors
$dark-primary: #303F9F;
$primary: #3F51B5;
$light-primary: #C5CAE9;
$footer-cl: #757575;
$accent-cl: #FFEB3B;
// Typography
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-size: 1rem;
$line-height: 1.5;
$font-family: 'Roboto',
sans-serif;
$font-color: #212121;