/* Main SCSS File */

// Base
@import "variables";
// Components
@import "scaffolding";
#title {
    margin-bottom: 0;
    background-color: $dark-primary;
    color: white;
}

.c3 text {
    font-size: 20px;
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}