/* Main SCSS File */

// Base
@import "variables";
// Components
@import "scaffolding";
#title {
    font-size: 3em;
    margin-bottom: 0;
}

.c3 text {
    font-size: 20px;
}

footer {
    font-size: 1em;
    padding-left: .75em;
    padding-right: .75em;
}


/*@media only screen and (min-width: 769px) {
    .c3 text {
        font-size: 16px;
        margin-top: 0;
    }
}*/