/* Main SCSS File */

// Base
@import "variables";
// Components
@import "scaffolding";
#name {
    font-size: 2em;
}

#title {
    margin-bottom: 0;
    background-color: $dark-primary;
    color: white;
}

.c3 text {
    font-size: 20px;
}

#links {
    a {
        color: black;
        &:visited {
            color: black;
        }
    }
}

footer {
    a {
        color: white;
        &:visited {
            color: white;
        }
    }
}