<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        meta(name='description', content='')
        meta(name='author', content='Chau Nguyen')

        title 50 Years of Rudolf Heltzel

        link(inline rel='stylesheet' href='lib/bootstrap.min.css' integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi' crossorigin='anonymous')
        link(inline href='lib/merriweather-sans+raleway.css' rel='stylesheet')
        <!-- Bootstrap CSS -->
        link(inline rel='stylesheet' type='text/css', href='css/main.css')
    body
        #site-wrap
            nav(class='md-navbar navbar navbar-fixed-top navbar-dark bg-inverse')
                a(href='#')
                    img(class='logo' src='images/rudolf-logo-w.svg')
                button(class='navbar-toggler hidden-md-up toggle-nav', type='button', style='float: right;')
                        
                ul(class='long-nav nav navbar-nav float-md-right hidden-sm-down')
                    li(class='nav-item long-nav-link')
                        a(class='nav-link' href='#about') Artist
                    li(class='nav-item long-nav-link')
                        a(class='nav-link' href='#gallery') Exhibition
                    li(class='nav-item long-nav-link')
                        a(class='nav-link' href='#contact-rsvp') RSVP
            nav(class='main-nav nav navbar-nav float-md-right')
                    button(class='toggle-nav compact-menu-close', type='button') x
                    ul(class='compact-menu')
                        li(class='compact-nav-item')
                            small 01<br>
                            a(class='compact-nav-link remove-nav' href='#about') Artist
                        li(class='compact-nav-item')
                            small 02<br>
                            a(class='compact-nav-link remove-nav' href='#gallery') Exhibition
                        li(class='compact-nav-item')
                            small 03<br>
                            a(class='compact-nav-link remove-nav' href='#contact-rsvp') RSVP
            #wrapper
                main
                    section(id='landing')
                        .container
                            .row
                                .col-xs-12(class='center')
                                    h1(class='landing-title') Rudolf Heltzel <br> A Celebration of 50 Years<br><br>
                                    h2(class='title-caption') Opening night &mdash; 6pm on the 4th of November 2016 at the Royal Hibernian Academy
                            img(class='date-circle' src='images/date-circle.svg')
                        .lg-img-container#rudolf-container
                            a(class='lg-img-permalink' href='#about')
                                img(class='rudolf' src='images/rudolf-1.jpg')
                                span(class='caption') The Artist<br>Rudolf Heltzel &mdash; A Living Renaissance Master
                          
                    section(id='about')
                        .container
                            .row
                                .col-xs-12.col-md-12.col-lg-6
                                    h5(class='highlight') The Artist
                                    h3(class='claim') Rudolf Heltzel is unique &mdash; a master of design and technical expertise in jewellery making, with extraordinary artistic talent.
                                    p(class='paragraph') Rudolf Heltzel is renowned as one of the finest haute couture jewellery designers worldwide. Over the past six decades, the originality and quality of Rudolf's work has set him apart. Each of his pieces has a timeless aesthetic, is crafted meticulously by hand using some of the world’s oldest jewellery techniques, and has inimitable balance. His thoughtful designs and impeccable workmanship have won him international acclaim.
                        .lg-img-container#artist-1-container
                            a(class='lg-img-permalink' href='#gallery')
                                img(class='artist-1' src='images/artist-1.jpg')
                                span(class='caption') Collection 01<br>&mdash; The Rock Crystal Treasure Cave
                        .lg-img-container#artist-2-container
                            a(class='lg-img-permalink' href='#gallery')
                                img(class='artist-2' src='images/artist-2.jpg')
                                span(class='caption') The Collection 02<br>&mdash; The Tourmaline Butterflies
                                
                    section(id='gallery')
                        .container
                            .row
                                .col-xs-12.col-md-12.col-lg-6
                                    h5(class='highlight') The Exhibition
                                    h3(class='claim') For his "50 Years in Ireland", Rudolf Heltzel, now 75, has created two outstanding pendant collections:
                                    p(class='paragraph') The abstract ‘Rock Crystal Treasure Cave’ collection and the figurative ‘Tourmaline Butterflies’ collection. Both collections executed by hand using traditional techniques in 18ct yellow or white gold and set with spectacular custom-cut precious gemstones.<br>Guests and visitors will be introduced to the masterful work of Rudolf Heltzel, who has been described as a ‘living Renaissance master’. It is an opportunity to meet Rudolf, hear of his dedication to jewellery design and making, his contribution to design and craft in Ireland, and a first viewing of his couture pieces.
                            .row
                                .col-xs-12.col-md-6.col-lg-6
                                    img(class='gallery-img' src='images/pendant-final2.jpg')
                                    h5(class='highlight') The Rock Crystal Treasure Cave
                                    small(class='collection-number') Collection 01
                                    p(class='paragraph').
                                        Over millions of years, clear quartz crystals form in cavities in surrounding rock, sometimes enclosing fragments of previously deposited minerals.<br><br> Rudolf is fascinated by the beauty, shapes, colours and textures of the minerals that formed and became embedded in growing rock crystals. Working with skilful and artistic stone-cutters, who cut and polish extraordinarily beautiful stones – he came to the inspiration to create this collection.<br><br>Each individual stone requires a conscientious setting that harmonises the stone, the design and functionality for the wearer. Considering now the finished collection, Rudolf is pleased and satisfied with the originality and variety of designs, capturing the beauty of these wondrous rock crystals.<br><br>9 pendants on display.
                                .col-xs-12.col-md-6.col-lg-6
                                    img(class='gallery-img' src='images/butterfly-final2.jpg')
                                    h5(class='highlight') The Tourmaline Butterflies
                                    small(class='collection-number') Collection 02
                                    p(class='paragraph').
                                        Precious, colourful, playful... Rudolf rarely designs figurative work, but in this series of butterfly inspired pendants, he has done so magnificently.<br><br>In nature tourmaline rarely forms to a quality, size and consistency that will allow specialists to carve matching pairs of "butterfly wings". Rudolf has sourced spectacular examples and designed around them to produce pendants that inspire awe.<br><br>Using the sensibility he is known for, Rudolf has set these precious gemstones in intricate 18ct gold frameworks with harmony, grace, and balance. As well as uniquely cut tourmaline gemstones, sapphires, rubies, diamonds and rainbow moonstones feature in these unique pendants.<br><br>9 pendants on display.
                    section(id='contact-rsvp')
                        .container
                            .row
                                .col-xs-12.col-md-8.offset-md-2
                                    img(class='rsvp' src='images/rsvp.svg')
                                    h5(class='highlight center') Please enter your details below to RSVP for the opening night.
                                    p(class='title-caption center') Opening night &mdash; 6pm on the 4th of November 2016 at the Royal Hinbernian Academy
                                    form
                                        .form-group
                                            input(type='text' class='form-control' id='name' aria-describedby='nameHelp' placeholder='Name')
                                        .form-group
                                            input(type='text' class='form-control' id='email' aria-describedby='emailHelp' placeholder='Email')
                                        .form-group
                                            textarea(class='form-control' id='mailing-address' aria-describedby='mailingAddressHelp' placeholder='Mailing Address')
                                        button(class='send-rsvp' type='submit' class='float-xs-right') Send RSVP &#8594

                    footer(class='footer')
                        .container
                            .row
                                .footer-info.col-xs-12.col-md-6
                                    h4(class='title') #[a(class='footer-permalink' href='#') Rudolf Heltzel &mdash; Gold & Silversmith<br>]A Celebration of 50 Years
                                    p 3 - 6 November 2016<br>Opening night 4 of November at 6pm<br><br>#[a(class='footer-permalink' href='#') Friends Room at the Royal Hibernian Academy,<br>15 Ely Place, Dublin 2<br>Ireland D02 A213]
                                    .footer-utility-links
                                        a(href='#' class='footer-permalink') Add Reminder to Calendar<br>
                                        a(href='#' class='footer-permalink') Get Directions<br><br>
                                        a(href='#' class='footer-permalink') rsvp@rudolfheltzel.com
                                .footer-schedule.col-xs-12.col-md-6
                                    p(class='underline') Opening times:
                                    p.
                                        Thursday 3rd Nov: 7pm &mdash; 9pm<br>
                                        Friday 4th Nov: 11am &mdash; 8pm<br>
                                        Saturday 5th Nov: 11am &mdash; 7pm<br>
                                        Sunday 6th Nov: 11am &mdash; 6pm
                                    p(class='sponsored-by') Sponsored by
                                    img(class='sponsors' src='images/sponsors.png')
                        

        <script inline src="lib/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script inline src="lib/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script inline src="lib/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        <script inline type='text/javascript' src='js/index.js'></script> 