// Colors
$bg-color: #323232;
// Typography
$heading-font: 'Raleway',
Helvetica,
serif;
$p-font: 'Merriweather Sans',
serif;
// Misc
$transition: 100%;
$transition-duration: 0.2s;
$compact-nav-width: 275px;